**/.DS_Store
aquarium/
.idea/
steam/web/templates/index.html
shanghairanking/page2.html
shanghairanking/response.html
niche/response.html
centris/index.html

cleaning/cleaning_federal_dbs/external_outputs/
cleaning/cleaning_federal_dbs/script_outputs/
cleaning/cleaning_federal_dbs/resources/
cleaning/outputs/
